$breakpoints: (
    phone-sm: 420px,
    phone: 767px,
    tablet: 768px,
    tablet-lg: 1024px,
    desktop: 1025px,
    desktop-lg: 1600px
);
@mixin for-size($breakpoint) {

    //Kiểm tra breakpoint truyền vào có tồn tại như bạn đã định nghĩa hay không.
    @if map-has-key($breakpoints, $breakpoint) {
    
    // Lấy giá trị pixel breakpoint đó
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    
    //Build media query tự động
      @media (max-width: $breakpoint-value) {
        //Những gì bạn mong muốn sẽ được lồng vào @content
        @content;
      }
    } 
}
.containers {
    width: 100% !important;
    margin: 0 auto !important;
    padding: 0;
    
  
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        z-index: 1000;
        border-bottom: 1px solid #bf4444;
        
    }
    .bodys {
        width: 100% !important;
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        width: 100%;
        
        height: calc(100vh - 50px);

        .sidebar {
           height: calc(100vh - 50px);
           @include for-size(tablet-lg) {
            display:none;
          }
           
           
        }
        .content {
            padding-left: 90px;
            width: 95%;
            margin: 0 auto;
            @include for-size(tablet-lg) {
                padding-left: 0;
              }
        }

    }
}


